TELEGRAM_BOT_TOKEN=

# AmoCRM credentials
CRM_CLIENT_ID=
CRM_CLIENT_SECRET=
# Код авторизации
CRM_AUTH_CODE=
# Домен
CRM_SUBDOMAIN=

# API CHAT
CRM_CHAT_CHANNEL_ID=
CRM_CHAT_CHANNEL_SECRET=
CRM_CHAT_BOT_NAME=
